{
    "name": "loader",
    "version": "2.0.0",
    "active": 1,
    "level": -1,

    "description": "pass",
    "data_dirs": {
        "use_dirs": [
            "main_dir"
        ],
        "main_dir": {
            "path": "data",
            "use_files": [
                "modules",
                "configs",
                "loggers",
                "dirs"
            ],
            "files": {
                "modules": {
                    "is_python_module": true,
                    "files_extension": [
                        "py",
                        "pyw"
                    ],
                    "selecting_specific_files": [
                        "main",
                        "sub_main"
                    ],
                    "exception_files": []
                },
                "configs": {
                    "files_extension": [
                        "config"
                    ],
                    "selecting_specific_files": [],
                    "exception_files": []
                },
                "loggers": {
                    "files_extension": [
                        ".log"
                    ],
                    "selecting_specific_files": [],
                    "exception_files": []
                },
                "dirs": {
                    "files_extension": [],
                    "selecting_specific_files": [],
                    "exception_files": [
                        "__pycache__"
                    ]
                }
            }
        }
    }
}