{
    "name": "loader",
    "version": "2.1.0",
    "active": 1,
    "level": -1,

    "description": "pass",

    "logging": {
        "use": true,
        "print_to_console": 1,
	    "print_to_file": 1,
        "format": "%(asctime)s - %(name)s - %(levelname)s - %(message)s",
		"level": 10,
		"file_name": "loader",
		"file_extension": "log",
		"path_dir_save": ""
    },
    "data_dirs": {
        "use_dirs": [
            "main_dir"
        ],
        "main_dir": {
            "path": "data",
            "use_files": [
                "modules",
                "configs",
                "loggers",
                "dirs"
            ],
            "files": {
                "modules": {
                    "is_python_module": true,
                    "files_extension": [
                        "py",
                        "pyw"
                    ],
                    "selecting_specific_files": [
                        "main",
                        "sub_main"
                    ],
                    "exception_files": []
                },
                "configs": {
                    "files_extension": [
                        "config"
                    ],
                    "selecting_specific_files": [],
                    "exception_files": []
                },
                "loggers": {
                    "files_extension": [
                        ".log"
                    ],
                    "selecting_specific_files": [],
                    "exception_files": []
                },
                "dirs": {
                    "files_extension": [],
                    "selecting_specific_files": [],
                    "exception_files": [
                        "__pycache__"
                    ]
                }
            }
        }
    }
}
